<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>List Product</title>
  </head>
  <body>
    <% include ./partials/navbar %>
    <%if(err){%>
      <p style="color:red;"><%=err%></p>

   <%}%>
    <form action='/product/addProduct' method="POST">
      name:<br>
      <input type="text" name="name"><br>
      stock:<br>
      <input type="text" name="stock"><br>
      price:<br>
      <input type="text" name="price"><br>
      description:<br>
      <input type="text" name="description"><br>
      image:<br>
      <input type="text" name="imgSource"><br>
      <br>
      <input type="submit" value="Submit">
    </form>

      <table>
        <tr>
          <th>id</th>
          <th>name</th>
          <th>stock</th>
          <th>price</th>
          <th>description</th>
        </tr>
        <% data.sort(function(a,b){
          return a.id -b.id
        }).forEach((row)=>{ %>
        <tr>
          <td><%= row.id %></td>
          <td><%= row.name %></td>
          <td><%= row.stock %></td>
          <td><%= row.price %></td>
          <td><%= row.description %></td>
          <td> <a href="/product/listProduct/edit/<%=row.id%>"> Edit </a>
           |
           <a href="/product/delete/<%=row.id%>/"> Delete</a></td>
        </tr>
        <% }) %>
      </table>
  </body>
</html>
