<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Edit User</title>
  </head>
  <body>
    <form action="/user/<%=row.id%>/listUser/" method="post">
      First Name:<br>
      <input type="text" name ="firstName" value="<%= row.firstName %>"><br>
      Last Name:<br>
      <input type="text" name="lastName" value="<%= row.lastName %>"><br>
      Email:<br>
      <input type="text" name="email" value="<%= row.email %>"><br>
      Password:<br>
      <input type="text" name="password" value="<%= row.password %>"><br>
      Type:
      <input type="radio" name="typeUser" value="Admin"> Admin
      <input type="radio" name="typeUser" value="Kasir"> Kasir<br>
      Membership:<br>
      <input type="radio" name="memberType" value="TRUE"> True
      <input type="radio" name="memberType" value="FALSE"> False<br>
      <input style="width: 130px" type="submit" value="Submit">
      <input type="submit" value="Submit">
    </form>

  </body>
</html>
