<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>List User</title>
  </head>
  <body>
    <% include ./partials/navbar %>
    <form action="/user/:id/listUser" method="post">
      First Name:<br>
      <input type="text" name="firstName"><br>
      Last Name:<br>
      <input type="text" name="lastName"><br>
      Email:<br>
      <input type="text" name="email"><br>
      Password:<br>
      <input type="password" name="password"><br>
      Type:<br>
      <!-- <input type="radio" name="typeUser" value="Admin"> Admin
      <input type="radio" name="typeUser" value="Kasir"> Kasir<br> -->
      <select style="width: 130px" name="typeUser">
        <option value="Kasir" selected>Kasir</option>
        <option value="Admin">Admin</option>
      </select><br>
      Membership:<br>
      <select style="width: 130px" name="memberType">
        <option value=TRUE>TRUE</option>
        <option value=FALSE selected>FALSE</option>
      </select><br><br>
      <input style="width: 130px" type="submit" value="Submit">
    </form>
    <%if(err){%>
       <p style= "color: red"><%=err%></p>
   <%}%>

      <table>
        <tr>
          <th>ID</th>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Email</th>
          <!-- <th>Password</th> -->
          <th>Type</th>
          <th>Membership</th>
        </tr>
        <% data.sort(function(a,b){
          return a.id -b.id
        }).forEach((row)=>{ %>
        <tr>
          <td><%= row.id %></td>
          <td><%= row.firstName %></td>
          <td><%= row.lastName %></td>
          <td><%= row.email %></td>
          <!-- <td><%= row.password %></td> -->
          <td><%= row.type %></td>
          <td><%= row.isMember %></td>
          <td>
            <a href="/user/listUser/edit/<%=row.id%>"> Edit </a>
            <a href="/user/<%=row.id%>/listUser/delete/<%=row.id%>">Delete</a>
          </td>
        </tr>
        <% }) %>
      </table>
  </body>
</html>
