<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>List User</title>
  </head>
  <body>
    <form action="/admin/user" method="post">
      First Name:<br>
      <input type="text" name="firstName"><br>
      Last Name:<br>
      <input type="text" name="lastName"><br>
      Email:<br>
      <input type="text" name="email"><br>
      Password:<br>
      <input type="text" name="password"><br>
      Type:<br>
      <input type="text" name="type"><br>
      Membership:<br>
      <input type="text" name="isMember"><br>
      <button>Submit</button>

    </form>

      <table>
        <tr>
          <th>ID</th>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Email</th>
          <th>Password</th>
          <th>Type</th>
          <th>Membership</th>
        </tr>
        <% data.forEach((row)=>{ %>
        <tr>
          <td><%= row.id %></td>
          <td><%= row.firstName %></td>
          <td><%= row.lastName %></td>
          <td><%= row.email %></td>
          <td><%= row.password %></td>
          <td><%= row.type %></td>
          <td><%= row.membership %></td>
          <td>
            <a href="/admin/user/edit/<%=row.id%>"> Edit </a>
            <a href="/admin/user/delete/<%=row.id%>">Delete</a>
          </td>
        </tr>
        <% }) %>
      </table>
  </body>
</html>
